<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328780703163-4mj5giffa5vjb46r2tvb4s9ltfr75d4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328780703163-4mj5giffa5vjb46r2tvb4s9ltfr75d4m</string>
	<key>API_KEY</key>
	<string>AIzaSyDehEu09Fuc2PGwLk3kf9HftJRcHQL1X1M</string>
	<key>GCM_SENDER_ID</key>
	<string>328780703163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.codelearner.mynotes</string>
	<key>PROJECT_ID</key>
	<string>ng-complete-guide-87e4f</string>
	<key>STORAGE_BUCKET</key>
	<string>ng-complete-guide-87e4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328780703163:ios:a2ed331acff255b0d8109e</string>
	<key>DATABASE_URL</key>
	<string>https://ng-complete-guide-87e4f-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>